.mainDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
}

@media (min-width: 768px) {
  .subdiv {
    display: flex;
    justify-content: space-around;
  }

  .aspect {
    width: 30%;
  }
}

.para {
  margin-top: 15px;
  color: #1d976c;
  font-weight: bold;
  background-color: white;
  padding: 13px;
  border-radius: 8px;
  border-width: 0px;
}

.inou {
  padding: 6px;
  width: 50%;
  border-radius: 6px;
  border-width: 1px;
  background-color: #1d976c;
}
